*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    width: 80vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}

.scene, canvas{
    position: fixed;
    width: 30%;
    height: 100%;
}